<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../static/css/output.css" rel="stylesheet">
    </head>
    <body class="w-full">
        <section class=" flex flex-col h-screen">
            <header class="bg-biru-muda">
                <div class="grid grid-cols-[1fr_2fr_1fr] items-center py-7">
                    <div class="flex justify-start pl-24">
                        <img
                            src="../static/img/logo-uns.png"
                            alt="logo-uns"
                            class="h-14 w-auto"
                        />
                    </div>
                    <div class="text-center">
                        <h1 class="flex justify-center items-center text-5xl text-biru-tua-banget font-bold">
                            Image Compression
                        </h1>
                    </div>
                    <div></div>
                </div>
                <div class="h-1 bg-biru-tua-banget mx-12"></div>
            </header>

            <main class="flex-1 bg-biru-muda py-12 flex justify-center items-center">
                <div class="bg-white border-4 border-biru rounded-4xl w-1/2 h-full flex flex-col gap-1.5 justify-center items-center">
                    <button class="bg-biru-tua text-white text-xl rounded-full px-10 py-3">Upload Image</button>
                    <h2 class="text-black text-xl">or</h2>
                    <h2 class="text-black text-xl">Drag and Drop Here</h2>
                </div>
                <img
                    src="../static/img/batik-kawung-kiri.png"
                    alt="dekorasi-batik"
                    class="absolute bottom-0 left-0 z-0 w-1/4"
                />
                <img
                    src="../static/img/batik-kawung-kanan.png"
                    alt="dekorasi-batik"
                    class="absolute bottom-0 right-0 z-0 w-1/4"
                />
            </main>
        </section>
        <footer>
            <div class="w-full bg-biru-tua text-white text-center py-4">
                &copy; 2025, Cholif Bima A - Lutfiyah Istiana - Shafa Rifkika NF
            </div>

        </footer>
    </body>
</html>